altair
annotated-types
anyio
attrs
blinker
Brotli
cachetools
cffi
charset-normalizer
click
colorama
fastapi
Flask
frozendict
gitdb
GitPython
h11
h2
hyperframe
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
lxml
markdown-it-py
MarkupSafe
mdurl
multitasking
numpy
packaging
pandas
patsy
peewee
pickle-mixin
pillow
platformdirs
plotly
plotly-express
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PySocks
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
six
smmap
sniffio
soupsieve
starlette
statsmodels
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
urllib3
uvicorn
watchdog
webencodings
Werkzeug
wheel
win-inet-pton
yfinance
zstandard
